:root {
    --black: #3b434e;
    --white: #fff;

    --purple: #7351f5;
    --purple-light: #b1a1f0;

    --red: #fc836d;
    --red-light: #fca99e;

    --green: #1dc37e;
    --green-light: #c8f8e4;

    --gray: #a4a4a4;
    --gray-light: #ebebeb;
    --gray-dark: #6c7077;
}

* {
    box-sizing: border-box;
}

html {
    font-family: "Inter", sans-serif;
}

html,
body {
    padding: 0;
    margin: 0;
    color: var(--black);
    background: #f5f6f8;
}

a {
    color: inherit;
    text-decoration: none;
}

.visuallyHidden {
    width: 0;
    height: 0;
    overflow: hidden;
    position: absolute;
}
